.background-image {
    background-image: url('home-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    z-index: -1;
}

