.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Spacing between cards */
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto 20px; /* Center the grid horizontally */
  }
  
  /* Define styles for the individual cards (you can customize this further) */
  .card {
    /* border: 1px solid; */
    text-align: left;
  }
  
  .card img {
    max-width: 100%;
  }

  @media screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr; /* One column for smaller screens */
    }
  }
  