.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-wrapper {
    border: 3px solid #42A7D5;
    background-color: white;
    border-radius: 15px;
    padding: 20px 50px 40px;
}

.two-column-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-column {
    flex: 0 0 calc(50% - 70px); /* Adjust the width and margin as needed */
    margin-bottom: 3px; /* Add margin to separate rows */
    margin-right: 10px;
  }
  
  /* Optional: To style labels and input elements for better alignment */
  .form-column h3 {
    margin-bottom: 5px;
  }
  
  .form-column div {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
  }
  
  .form-column label {
    margin-left: 5px;
  }
